<h1>Editing Amortization Schedule</h1>

<%= render 'form', amortization_schedule: @amortization_schedule %>

<%= link_to 'Show', @amortization_schedule %> |
<%= link_to 'Back', amortization_schedules_path %>
